BOT_TOKEN=8522084422:AAHzym3LH4wfaA9migXvBaVSgchOh9ZiLeY
BOT_USERNAME=file_to_link_kl_bot
ADMIN_ID=1387840212
CHANNEL_ID=-1004307678360
CHANNEL_URL=https://t.me/+F1nmZZJVQiozY2Rl
DB_CHANNEL_ID=-1004321070090
APP_DOMAIN=https://ftl.luxestay.living
